<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="/style-sheet">
</head>
<body>
    <div id="MusicBoard">
        <div class="music-board-header">
            <h1>Title of Page</h1>
        </div>
        <div class="background-container">
            <div class="listings left">
                <div class="listing-header">
                    <h3>Local Music List</h3>
                </div>
                <div class="listing-tracks">
                    <div class="names">

                    </div>
                    <div class="track">

                    </div>
                </div>
            </div>
            <div class="listings right">
                <div class="listing-header">
                    <h3>Your Music List</h3>
                </div>
                <div class="listing-tracks">
                    <div class="names">

                    </div>
                    <div class="track">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="/websocket/iris-ws.js"></script>
<script type="text/javascript">
    let socket = new Ws("ws://localhost:9004/websocket");
    let currentFiles = {};
    let fileInputBusy = false;

    (function () {

        socket.OnConnect(function(){
            // update the rest of connected clients, including "myself" when "my" connection is 100% ready.
            socket.Emit("visit");
        });

        socket.On("visit", function (newCount) {
            console.log("visit websocket event with newCount of: ", newCount);

            var text = "1 online visitor";

            if (newCount > 1) {
                text = newCount + " online visitors";
            }

            document.getElementById("online_visitors").innerHTML = text;
        });

        socket.OnDisconnect(function () {
            document.getElementById("online_visitors").innerHTML = "you've been disconnected";
        });

    })();

</script>
<script>
    console.log('Initializing UI, workers and cache');
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', async function () {
            // todo test for initial and installed
            let serviceWorker = navigator.serviceWorker;

            const registration = await navigator.serviceWorker
                    .register('/alist-service', {
                        foo: 'dataBar'
                    })
                    .catch(function (error) {
                        console.log('Registration failed:', error);
                    });

            navigator.serviceWorker.ready.then(function (evt) {
                console.log("wtf", evt);

            });

            registration.onstatechange = function (evt) {
                if (evt === "active") {
                    serviceWorker = registration.;
                }
                if (evt === "waiting") {
                    serviceWorker = registration.waiting;
                }
                if (evt === "installing") {
                    serviceWorker = registration.installing;
                }
            }
        });


    }
</script>
</html>